<html>

<head>
  <!-- AFTER HTML loads in browser, browser will request for CSS. -->
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
  <p><strong><u>
        Sighting</strong></u><br>
    <%= sighting.text %>
  </p>
  <p><strong><u>
        Date & Time</strong></u><br>
    <%= sighting.date_time %>
  </p>
  <p><strong><u>
        City</strong></u><br>
    <%= sighting.city %>
  </p>
  <p><strong><u>
        State</strong></u><br>
    <%= sighting.state %>
  </p>
  <p><strong><u>
        Shape</strong></u><br>
    <%= sighting.shape %>
  </p>
  <p><strong><u>
        Duration</strong></u><br>
    <%= sighting.duration %>
  </p>
  <p><strong><u>
        Summary</strong></u><br>
    <%= sighting.summary %>
  </p>
</body>

<footer>
  <p><a href="/">Return to main page</a></p>
</footer>

</html>